{{ $images := $.Resources.ByType "image" }}
{{ $featured := $images.GetMatch "*feature*" }}
{{ if not $featured }}{{ $featured = $images.GetMatch "{*cover*,*thumbnail*}" }}{{ end }}
{{ if not $featured }}{{ $featured = resources.Get "/base-image.png" }}{{ end }}
{{ with $featured }}
    {{ $size := 80 }}
    {{ $title := $.LinkTitle }}
    {{ if gt (len $title) 20 }}
    {{ $size = 70 }}
    {{ end }}

    {{ $text := $title }}
                {{ $textOptions := dict 
                    "color" "#6c6c6c"
                    "size" $size
                    "lineSpacing" 10
                    "x" 65 "y" 80
                    "font" (resources.Get "/fonts/Martel-Regular.ttf")
                }}

    {{ $featured = $featured | images.Filter (images.Text $text $textOptions) }}
{{ end }}

{{ return $featured }}